
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.a {
  color: white;
}
:any-link {
  color: #f4efef;
  font-family: 'Marck Script', cursive;
  font-size: 30px;
}
.active {
  color: #f40606;
  font-family: 'Marck Script', cursive;
  font-size: 35px;
}
